server:
  port: 4004 # Gateway listens on port 4004

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service-route
          uri: http://auth-service:4005
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
        - id: user-service-route
          uri: http://user-service:4000
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: workout-service
          uri: http://workout-service:4006
          predicates:
            - Path=/api/activities/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: nutrition-service
          uri: http://nutrition-service:4009
          predicates:
            - Path=/api/nutrition/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: notification-service
          uri: http://notification-service:4010
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: goal-service
          uri: http://goal-service:4013
          predicates:
            - Path=/api/goals/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: billing-service
          uri: http://billing-service:4001
          predicates:
            - Path=/api/billing/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: ai-agent-service
          uri: http://ai-agent-service:4002
          predicates:
            - Path=/api/ai/**
          filters:
            - StripPrefix=1
            - JwtValidation

        - id: analytics-service
          uri: http://analytics-service:4002
          predicates:
            - Path=/api/analytics/**
          filters:
            - StripPrefix=1
            - JwtValidation
        - id: api-docs-user-route
          uri: http://user-service:4000
          predicates:
            - Path=/api-docs/users
          filters:
            - RewritePath=/api-docs/users,/v3/api-docs

        - id: api-docs-auth-route
          uri: http://auth-service:4005
          predicates:
            - Path=/api-docs/auth
          filters:
            - RewritePath=/api-docs/auth,/v3/api-docs

        - id: api-docs-workout-route
          uri: http://workout-service:4006
          predicates:
            - Path=/api-docs/workout
          filters:
            - RewritePath=/api-docs/workout,/v3/api-docs

        - id: api-docs-nutrition-route
          uri: http://nutrition-service:4009
          predicates:
            - Path=/api-docs/nutrition
          filters:
            - RewritePath=/api-docs/nutrition,/v3/api-docs

        - id: api-docs-notification-route
          uri: http://notification-service:4010
          predicates:
            - Path=/api-docs/notifications
          filters:
            - RewritePath=/api-docs/notifications,/v3/api-docs

        - id: api-docs-goal-route
          uri: http://goal-service:4013
          predicates:
            - Path=/api-docs/goals
          filters:
            - RewritePath=/api-docs/goals,/v3/api-docs

        - id: api-docs-billing-route
          uri: http://billing-service:4001
          predicates:
            - Path=/api-docs/billing
          filters:
            - RewritePath=/api-docs/billing,/v3/api-docs

        - id: api-docs-ai-agent-route
          uri: http://ai-agent-service:4002
          predicates:
            - Path=/api-docs/ai
          filters:
            - RewritePath=/api-docs/ai,/v3/api-docs

        - id: api-docs-analytics-route
          uri: http://analytics-service:4002
          predicates:
            - Path=/api-docs/analytics
          filters:
            - RewritePath=/api-docs/analytics,/v3/api-docs
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
